<!DOCTYPE html>
<html>
<head>
  <title>Full_friends</title>
</head>
<body>


  <form action='/', accept-charset="" method ="post">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
          <p>{{message}}</p>
      {% endif %}
        <ul>
          {% for user in users %}

          <li>{{user.First_name}}  {{user.last_name}}  {{user.email}} {{user.created_at.strftime('%m/%d/%y')}} <input type="submit" formaction="/friends/{{user.id}}/edit" formmethod="get" value="EDIT"> <input type="submit" formaction="/friends/{{user.id}}/delete" value="DELETE"></li>
        </ul>
          {% endfor %}
    {% endwith %}
  </form>

    <form action="/" method="post">

      First Name:<input type="text" name="first_name" value="">
      Last Name:<input type="text" name="last_name" value="">
      Email:<input type="text" name="email" value="">

      <input type="submit" value="ADD FRIEND">
    </form>


</body>
</html>
